@charset "UTF-8";

/* ===== 全体 ===== */
body {
	margin: 0;
	font-family: "Segoe UI", "Hiragino Kaku Gothic ProN", sans-serif;
	background: linear-gradient(0deg, #eef6fb, #dbe9f4);
	padding: 20px;
}

/* ===== メインエリア ===== */
main {
	margin-top: 20px;
	background:azure;
	border-radius: 12px;
	padding: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.cart-container {
    display: flex;
	flex-direction: column;
    gap: 20px;
}

/* 左側 */
.cart-left {
    flex: 3;
}

/* 商品カード */
.cart-item {
    display: grid;
    grid-template-columns: 120px 1fr auto;
    grid-template-rows: auto auto;

    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);

    transition: 0.2s;
}

.cart-item:hover {
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}


/* 画像 */
.item-img img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* 情報 */
.item-info {
    padding-left: 10px;
}

/* 価格 */
.item-price {
    color: #e60023;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

.item-price .sub {
    font-size: 12px;
    color: #777;
}


/* 操作部分 */
.item-controls {
    grid-column: 2 / 4;
    margin-top: 15px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}


/* 右側 */
.cart-right {
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.total {
    font-size: 24px;
    font-weight: bold;
    color: #e60023;
}

.cart-right button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;

    background:rgb(252, 197, 95);
    color: black;
    border: none;
}

.cart-right button :hover {
    background: rgb(251, 167, 11);
}



/*ボタンとか*/
input[type="submit"] {
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

/* 更新 */
input[value="数量変更"] {
    background: #00aaff;
    color: white;
}

input[value="数量変更"]:hover {
    background: #00aaff;
}

/* 削除 */
input[value="削除"] {
    background: rgb(192, 192, 192);
    border: 1px solid #ccc;
}

input[value="削除"]:hover {
    background: rgb(128, 128, 128);
}

select {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
}

