@charset "UTF-8";

body {
  background-color: azure; /* 薄い青 */
  font-family: Arial, sans-serif;
}

/* フォームを中央に */
.form {
  width: 500px;
  margin: 100px auto; /* 中央寄せ */
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* タイトル */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* 入力欄 */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* ボタン */
input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: rgb(252, 197, 95);
  color:black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ボタンホバー */
input[type="submit"]:hover {
  background-color: rgb(251, 167, 11);
}

/* リンク */
a {
  width: 100%;
  padding: 10px;
  background-color: #00aaff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

a.main{
	background-color: rgb(252, 197, 95);
	color:black;
}

/* リンクホバー */
a:hover {
  background-color: #0088cc;
}

a.main:hover{
	background-color: rgb(251, 167, 11);
}

.names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 20px;
}

.names input {
  width: 100%;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #00aaff;
  color:white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.main{
	background-color: rgb(252, 197, 95);
	color:black;
}

button[type="submit"]:hover {
  background-color: #0088cc;
}
button.main:hover{
	background-color: rgb(251, 167, 11);
}

.buttons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px 20px;
}

