@charset "UTF-8";
/* ===== 全体 ===== */
body {
	margin: 0;
	font-family: "Segoe UI", "Hiragino Kaku Gothic ProN", sans-serif;
	background: linear-gradient(0deg, #eef6fb, #dbe9f4);
	padding: 20px;
}

/* ===== メインエリア ===== */
main {
	margin-top: 20px;
	background:azure;
	border-radius: 12px;
	padding: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  background-color: azure;
}

/* 左カラム */
.sidebar {
  width: 200px;
  border: 1px solid #000;
  padding: 10px;
}

/* 右カラム */
.main {
  flex: 1;
  padding: 20px;
}

/* 商品一覧 */
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* 商品カード */
.card {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

/* 画像枠 */
.img {
  width: 100%;
  height: 100px;
  background: #eee;
  margin-bottom: 10px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* ===== ボタン共通 ===== */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 5px 5px 0 0;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.2s;
}

/* hover時 */
.btn:hover {
    opacity: 0.8;
}

/* ===== 個別色 ===== */
.register-btn {
    background-color: #0000EE;
}

.edit-btn {
    background-color: #2e7d32;
}

.delete-btn {
    background-color: #A83E3E;
}

.stars {
    --star-size: 18px;
    --star-color: #ccc;
    --star-fill: gold;

    display: inline-block;
    font-size: var(--star-size);
    line-height: 1;
    position: relative;
}

.stars::before {
    content: "★★★★★";
    color: var(--star-color);
}

.stars::after {
    content: "★★★★★";
    color: var(--star-fill);

    position: absolute;
    left: 0;
    top: 0;

    width: calc(var(--rating) / 5 * 100%);
    overflow: hidden;
    white-space: nowrap;
}